body {
	background-color: #f69697;
	margin: 0;
	display: flex;
	justify-content: center;
  	align-items: center;
  	height: 100vh;
}

.container {
	background-color: white;
	width: 1000px;
	height: 500px;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	border-radius: 20px;   
}

a {
	text-decoration: none;
}


button {
	background-color: #f69697;
	border: none;
	border-radius: 20px;  
	color: white;
	font-size: 25px;
	font-family: 'Dancing Script';
	padding: 12px;
	margin: 10px;
}

.dodge {
	transition: transform 0.3s ease;
}

.dodger:active {
  	transform: translate(100px, 50px);
  	pointer-events: none;
}

h1 {
	color: #f69697;
	font-family: 'Dancing Script';
	font-size: 50px;
	text-align: center;
}
